body {
  -webkit-overflow-scrolling: touch;
  font-family: "Calibri", "Helvetica", "Arial", "Verdana", "sans-serif";
  color: #333333;
  line-height: 1.7857;
  font-weight: normal;
  font-size:14px;
  font-style: normal;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  }
  table {
  font-size: 14px;
  background: #fefefe;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  margin: 0;
  border-collapse: collapse;
  }
  th, td {
  padding: 8px 8px;
  text-align: left;
  border-right: 1px solid #F2F2F2;
  border-bottom: 1px solid #EDE9E9;
  }
  th {
  background: #f0f0f0;
  padding-top: 8px;
  position: relative;
  }
  label
  {
   display: block;
   width: 100px;
  text-align : right;
   float: left;
  padding-right : 5px;
  }
  .erreur
  {
   color : red;
  font-weight : bold;
  font-style : italic;
  }